@model OmPrabha.Models.Reports

@{
    ViewBag.Title = "AssociateSelfdownBusinessReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="loader" id="divload"></div>
@using (Html.BeginForm("AssociateSelfdownBusinessReport", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Associate Selfdown Business Report</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Associate Selfdown Business Report</h4>
                    <p style="color: red">
                  
                    </p>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="input-field col-md-3 m3 s12">
                            <div class="form-group">
                                Associate ID
                                @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = " Associate ID" })
                                @*@Html.HiddenFor(m => m.AssociateLoginID)*@
                            </div>
                        </div>
                        <div class="input-field col-md-3 m3 s12">
                            <div class="form-group">
                                From Date
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="input-field col-md-3 m3 s12">
                            <div class="form-group">
                                ToDate
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date" , @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="input-field col-md-3 m3 s12">
                            <div class="form-group">

                                <input class="btn btn-success pull-left" type="submit" value="Search" id="btnSearch" name="GetList" />
                            </div>
                        </div>
                    </div>
                    @*<div class="row">*@

                    @*</div>*@
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>LoginId</th>
                                    <th>Name</th>
                                    <th>Self Business</th>
                                    <th>Team Business</th>
                                </tr>
                            </thead>

                            <tbody>

                                @if (Model != null)
                                {
                                    if (Model.lstAssSelfdownBusinessReport != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstAssSelfdownBusinessReport)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td>@Item.LoginId</td>
                                                <td>@Item.Name</td>
                                                <td>@Item.SelfBusiness</td>
                                                <td>@Item.TeamBusiness</td>
                                            </tr>
                                            i++;
                                        }

                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    //$(document).ready(function () {
    //    $("#divload").css({ 'display': 'none' });
    //    $("input").attr("autocomplete", "off");
    //    var AssociateList = [];
    //    $("#loader").css({ 'display': '' });
    //    $.ajax({
    //        url: '/Plot/GetUserList',
    //        type: 'Post',
    //        success: function (response) {
    //            if (response != null) {
    //                $(response).each(function (index, item) {
    //                    AssociateList.push(item.UserName + "(" + item.LoginIDD + ")");
    //                });
    //                debugger
    //                $('#AssociateID').autocomplete({
    //                    source: AssociateList,
    //                    select: function (event, ui) {
    //                        var str = ui.item.label;
    //                        var strsplit = str.split("(");

    //                        $('#AssociateLoginID').val(strsplit[1].substr(0, strsplit[1].length - 1));
    //                    }
    //                })
    //                $('#PlotNumber').autocomplete({
    //                    source: cityuse,
    //                    select: function (event, ui) {
    //                        var str = ui.item.label;
    //                        var strsplit = str.split("(");
    //                        $('#CustomerID').val(strsplit[1].substr(0, strsplit[1].length - 1));
    //                    }
    //                })
    //            }
    //        }, error: function () {
    //            alert('Some Thing wrong!');
    //            $("#loader").css({ 'display': 'none' });
    //        }
    //    });
    //});

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });


</script>
<style>
    .btn-success{
        margin-top:23px;
    }

</style>