@model OmPrabha.Models.AssociateBooking

@{
    ViewBag.Title = "KYCDocuments";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
@using (Html.BeginForm("KYCDocuments", "AssociateDashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section class="section">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Upload KYC Documents  <span style="color:red;">( Size should be less than 5MB and upload only JPEG,PNG files. ) </span></h6>
                            <span style="color: red">
                                @TempData["DocumentUpload"]
                            </span>
                            @*<button class="btn btn-info"><a href="#!" class="text-white">Add New News</a></button>*@
                        </div>
                        <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.DocumentStatus)
        @if (Model.DocumentStatus == "Status : Approved")
        {
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Adhar Number <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.AdharNumber, new { @class = "form-control",@minlength="12",@maxlength="12", @required = "required", @disabled = "true" })
                                    @Html.ValidationMessageFor(m => m.AdharNumber)
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Adhar Front Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" disabled />
                                    <br />
                                    <img src="@Url.Content(Model.AdharImage)" height="120" width="180" /><br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.AdharStatus)</label>
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Adhar Back Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" disabled />
                                    <br />
                                    <img src="@Url.Content(Model.AdharBackSideImage)" height="120" width="180" /><br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.AdharBackSideStatus)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Pan Number <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control", @required = "required", @disabled = "true" })
                                    @Html.ValidationMessageFor(m => m.PanNumber)
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label class="d-block mt-3 text-dark">Pan Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" disabled />
                                    <img src="@Url.Content(Model.PanImage)" height="120" width="180" /> <br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.PanStatus)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12"> 
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Cancelled Cheque/Bank Passbook <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control", @required = "required", @disabled = "true" })
                                    @Html.ValidationMessageFor(m => m.DocumentNumber)
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label class="d-block text-dark">Document Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" disabled />
                                    <img src="@Url.Content(Model.DocumentImage)" height="120" width="180" /> <br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.DocumentStatus)</label>
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label class="d-block text-dark">Profile Picture<span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" disabled />
                                    <img src="@Url.Content(Model.ProfilePic)" height="120" width="120" /> <br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.DocumentStatus)</label>
                                </div>
                                @*<div class="col-lg-4 col-md-4 mb-3">
                                        <input type="submit" id="btnUpdate" class="btn btn-success" name="btnUpdate" value="Update" />
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Adhar Number <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.AdharNumber, new { @class = "form-control", @minlength = "12", @maxlength = "12", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.AdharNumber)
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Adhar Front Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" />
                                    <br />
                                    <img src="@Url.Content(Model.AdharImage)" height="120" width="180" /><br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.AdharStatus)</label>
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Adhar Back Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" />
                                    <br />
                                    <img src="@Url.Content(Model.AdharBackSideImage)" height="120" width="180" /><br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.AdharBackSideStatus)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Pan Number <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.PanNumber)
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label class="d-block mt-3 text-dark">Pan Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" />
                                    <img src="@Url.Content(Model.PanImage)" height="120" width="180" /> <br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.PanStatus)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label>Cancelled Cheque/Bank Passbook <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control", @required = "required"})
                                    @Html.ValidationMessageFor(m => m.DocumentNumber)
                                </div>                               
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label class="d-block text-dark">Document Image <span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" />
                                    <img src="@Url.Content(Model.DocumentImage)" height="120" width="180" /> <br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.DocumentStatus)</label>
                                </div>
                                <div class="col-lg-4 col-md-4 mb-3">
                                    <label class="d-block text-dark">Profile Picture<span style="color:red">*</span></label>
                                    <input type="file" name="postedFile" required="required" />
                                    <img src="@Url.Content(Model.ProfilePic)" height="120" width="120" /> <br />
                                    <label class="text-success mt-2">@Html.DisplayFor(m => m.ProfileStatus)</label>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-3">
                                    <input type="submit" id="btnUpdate" class="btn btn-success" name="btnUpdate" value="Update" onclick="return validateform()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
}
<script>
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function validateform() {
        $(".errortext").removeClass("errortext");

        if ($('#AdharNumber').val() == '') {
            $("#AdharNumber").addClass('errortext');
            $('#AdharNumber').focus();
            return false;
        }
        if ($('#PanNumber').val() == '') {
            $("#PanNumber").addClass('errortext');
            $('#PanNumber').focus();
            return false;
        }
        if ($('#DocumentNumber').val() == '') {
            $("#DocumentNumber").addClass('errortext');
            $('#DocumentNumber').focus();
            return false;
        }
        return true;
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>