@model OmPrabha.Models.Website

@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<div class="breadcrumb-wrap">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Website/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Page</li>
            </ol>
        </nav>
    </div>
</div>

<section class="contact-wrap">
    <div class="container">
        <p style="color:red; text-align:center; font-weight:bold;">@TempData["Contactmsg"]</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-box1">
                    <div class="contact-img">
                        <img src="~/AssetsWeb/img/blog/contact1.jpg" alt="contact" height="502" width="607">
                    </div>
                    <div class="contact-content">
                        <h3 class="contact-title">Office Information</h3>
                        <div class="contact-list">
                            <ul>
                                <li>1/163, Vibhav Khand, Near Mantri Awas,</li>
                                <li> Gomti Nagar, Lucknow - 226010</li>
                            </ul>
                        </div>
                        <div class="phone-box">
                            <div class="item-lebel">Call :</div>
                            <div class="phone-number">+91 9119966928</div>
                            <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
                        </div>
                        <div class="social-box">
                            <div class="item-lebel">Social Share :</div>
                            <ul class="item-social">
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://vimeo.com/"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                            <div class="item-icon"><i class="fas fa-share-alt"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="contact-wrap" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 card shadow">
                <div class="contact-box2 p-4">
                    <div class="contact-content" style="margin-left:0px">
                        @using (Html.BeginForm("ContactUs", "Website", FormMethod.Post, new { @id = "Message" }))
                        {
                            <h3 class="contact-title">Enquire Now</h3>
                            <p>
                                Enquire now and discover how we can meet your needs and exceed your expectations.
                            </p>
                            <form class="contact-box rt-contact-form">
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <label>Name <span style="color:red;">*</span></label>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Full Name", @autocomplete = "off"})
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Mobile No. <span style="color:red;">*</span></label>
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @minlength = "10", @maxlength = "10", @autocomplete = "off", @onkeypress = "return isNumberOrDecimal(event);" })
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label>Email <span style="color:red;">*</span></label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off" })
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label>Address <span style="color:red;">*</span></label>
                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "Full Address", @autocomplete = "off", @row = "12" })
                                    </div>
                                    <div class="form-group col-lg-3 m-auto">
                                        <input type="submit" class="btn btn-primary" value="Send Message" id="btnsendmessage" name="btnsendmessage" onclick="return validateform()"/>
                                        @*<button type="submit" class="item-btn">Send message</button>*@
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");

        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
        if ($('#Email').val() == '') {
            $("#Email").addClass('errortext');
            $('#Email').focus();
            return false;
        }
        if ($('#Address').val() == '') {
            $("#Address").addClass('errortext');
            $('#Address').focus();
            return false;
        }
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>