@model OmPrabha.Models.Plot

@{
    ViewBag.Title = "VisitorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .errortext {
        border: 1px solid red !important;
    }
</style>

@using (Html.BeginForm("VisitorForm", "Admin", FormMethod.Post, new { @id = "form1",@enctype = "multipart/form-data",@autocomplete="off" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Visitor Form</h5>
                </div>
                <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                    @TempData["Visitor"]
                </p>
            </div>
        </div>
        <div class="items">
            <div class="card">
                <div class="card-body row">
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label>Select Site <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new
                       {
                           @class = "form-control form-select", @*@onchange = "return onSiteChange();"*@ })
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label> Affiliate ID <span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Affiliate ID", @onchange = "return GetAssociateNameByAssociateID();" })
                            @Html.HiddenFor(m => m.UserID)
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label>  Affiliate Name</label>
                            @Html.TextBoxFor(m => m.AssociateName, new { @class = "form-control", @Placeholder = "Affiliate Name", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label> Visit Date<span style="color: red">*</span>  </label>
                            @Html.TextBoxFor(m => m.VisitDate, new { @class = "form-control", @Placeholder = "DD/MM/YYYY", @readonly = true })
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label>Amount<span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberOrDecimal(event)" })
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label>Vehicle No</label>
                            @Html.TextBoxFor(m => m.VehicleNo, new { @class = "VehicleNo form-control", @Placeholder = "VehicleNo" })
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label>Journey From</label>
                           @Html.TextBoxFor(m => m.FromJourney, new { @class = "FromJourney form-control", @Placeholder = "From" })
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label>Journey To</label>
                            @Html.TextBoxFor(m => m.ToJourney, new { @class = "ToJourney form-control", @Placeholder = "To" })
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr class="table-active">
                                <th style="min-width:280px">Name<span style="color: red">*</span> </th>
                                <th>Mobile No<span style="color: red">*</span> </th>
                                <th style="min-width:250px">Address<span style="color: red">*</span> </th>
                                <th>Action<span style="color: red">*</span> </th>
                            </tr>
                        </thead>
                        <tbody id="TextBoxContainer">
                            <tr class="mycontainer" id="mainrow">
                                <td>
                                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "CustomerName form-control", @Placeholder = "Customer Name" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "Mobile form-control", @Placeholder = "Mobile Number", @onkeypress = "return isNumberKey(event)", @maxlength = "10" })

                                </td>
                                <td>
                                    @Html.TextAreaFor(m => m.Address, new { @class = "Address form-control", @Placeholder = "Address.." })

                                </td>
                                <td>
                                    <input type="button" id="add" data-toggle="tooltip" data-original-title="Add" value="add" style="width:80px" class="btn btn-success" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="orderItems">
            <table class="table  table-striped table-bordered" id="orderdetailsItems"></table>
            <span id="orderItemError" style="color:red"></span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    <input class="btn btn-success pull-left" type="submit" value="Save" id="btnsssubmit" name="Save" />

                </div>
            </div>
        </div>

    </div>


}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript">
    $(document).ready(function () {
        $('#Mobile').keypress(function () {
            $('.Number').keypress(function (event) {
                var keycode;

                keycode = event.keyCode ? event.keyCode : event.which;

                if (!(event.shiftKey == false && (keycode == 46 || keycode == 8 ||
                        keycode == 37 || keycode == 39 || (keycode >= 48 && keycode <= 57)))) {
                    event.preventDefault();
                }
            });
        });
        $('#add').click(function () {
            debugger;
            var isAllValid = true;
            if (!($('#CustomerName').val().trim() != '' && ($('#CustomerName').val().trim()))) {
                $("#CustomerName").addClass('errortext');
                $('#CustomerName').focus();
                isAllValid = false;
            }
            else if (!($('#Mobile').val().trim() != '' && ($('#Mobile').val().trim()))) {
                $("#Mobile").addClass('errortext');
                $('#Mobile').focus();
                isAllValid = false;
            }
            else if (!($('#Address').val().trim() != '' && ($('#Address').val().trim()))) {
                $("#Address").addClass('errortext');
                $('#Address').focus();
                isAllValid = false;
            }
            debugger
            if (isAllValid) {
                var $newRow = $('#mainrow').clone().removeAttr('id');
                $('.CustomerName', $newRow).prop('disabled', true).val($('#CustomerName').val());
                $('.Mobile', $newRow).prop('disabled', true).val($('#Mobile').val());
                $('.Address', $newRow).prop('disabled', true).val($('#Address').val());
                //Replace add button with remove button
                $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');
                //remove id attribute from new clone row
                $('#CustomerName,#Mobile,#Address,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();
                //append clone row
                $('#orderdetailsItems').append($newRow);
                //clear select data
                $('#CustomerName,#Mobile,#Address').val('');
                $('#orderItemError').empty();
            }

        })
        //remove button click event
        $('#orderdetailsItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });
        $('#btnsssubmit').click(function () {
            var isAllValid = true;
            $(".errortext").removeClass("errortext");

            if ($('#SiteID').val() == '0') {
                $("#SiteID").addClass('errortext');
                $('#SiteID').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#AssociateID').val() == '') {
                $("#AssociateID").addClass('errortext');
                $('#AssociateID').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#VisitDate').val() == '') {
                $("#VisitDate").addClass('errortext');
                $('#VisitDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#Amount').val() == '') {
                $("#Amount").addClass('errortext');
                $('#Amount').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
           


            $('#orderItemError').text('');
            var list = [];
            var errorItemCount = 0;
            $('#orderdetailsItems tr').each(function (index, ele) {
                if (
                    $('CustomerName', this).val() == "") {
                    errorItemCount++;
                    $(this).addClass('error');
                } else {
                    var orderItem = {
                        CustomerName: ($('.CustomerName', this).val()),
                        Mobile: $('.Mobile', this).val(),
                        Address: $('.Address', this).val()
                    }
                    list.push(orderItem);
                }

            })
            console.log(list)
            if (errorItemCount > 0) {
                $('#orderItemError').text(errorItemCount + " invalid entry in order item list.");
                isAllValid = false;
            }

            if (list.length == 0) {
                $('#orderItemError').text('At least 1 row data required.');
                isAllValid = false;
            }

            if (isAllValid) {
                var data = {
                    AddData: JSON.stringify(list)
                }
                debugger;
                //$(this).val('Please wait...');
                $.ajax({
                    type: 'POST',
                    url: 'Save',
                    data: JSON.stringify({ dataValue: JSON.stringify(data), SiteID: $("#SiteID").val(), AssociateID: $("#UserID").val(), AssociateName: $("#AssociateName").val(), Amount: $("#Amount").val(), VisiteDate: $("#VisitDate").val(), VehicleNo: $("#VehicleNo").val(), FromJourney: $("#FromJourney").val(), ToJourney: $("#ToJourney").val() }),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.status) {

                            //here we will clear the form
                            list = [];

                            //$('#ExpenseID,#ExpenseName,#TransactionID,#PaymentMode').val('0');
                            //$('#Check,#Amount,#Date,#Remarks').val('');
                            //$('#orderdetailsItems').empty();
                            //$('#orderdetailsItems').hide();
                        }
                        else {
                            alert('Error');
                        }
                        $('#submit').text('Save');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#submit').text('Save');
                    }
                });
                $('#submit').text('Save');
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function GetAssociateNameByAssociateID() {
        $("#divload").css({ 'display': '' });

        var Associate = $('#AssociateID').val();
        $.ajax({
            url: '/Plot/GetAssociateName', type: 'post', dataType: 'json',
            data: { 'AssociateID': Associate },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#AssociateName").val(data.AssociateName);
                    $("#UserID").val(data.UserID);
                    $("#AssociateName").removeClass('errortext');
                    $("#AssociateID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#AssociateName").val('');
                    $("#AssociateName").addClass('errortext');
                    $("#AssociateID").addClass('errortext');
                    $('#AssociateID').focus();

                    alert("Invalid Associate ID");
                    $('#AssociateID').val('');
                }
            }

        });
    }
    function getCustomerName() {
        $("#divload").css({ 'display': '' });
        var sponsorID = $('#CustomerID').val();
        $.ajax({
            url: '/Plot/GetCustomerNameFromCustomerID', type: 'post', dataType: 'json',
            data: { 'CustomerID': sponsorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#CustomerName").val(data.CustomerName);
                    $("#AssociateName").val(data.AssociateName);
                    $("#AssociateID").val(data.AssociateID);
                    $("#CustomerName").removeClass('errortext');
                    $("#CustomerID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#CustomerName").val('');
                    $("#CustomerName").addClass('errortext');
                    $("#CustomerID").addClass('errortext');
                    $('#CustomerID').focus();
                    alert("Invalid Customer ID");
                    $('#CustomerID').val('');
                }
            }

        });
    }
    function getmlmname() {
        $("#divload").css({ 'display': '' });

        $.ajax({
            url: '/Plot/GetMLMLoginId', type: 'post', dataType: 'json',
            data: { 'LoginId': $('#MLMLoginId').val() },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "Yes") {
                    $("#mlmname").html(data.DisplayName);
                    $("#mlmname").removeClass('errortext');

                }
                else {
                    $("#MLMLoginId").val('');
                    $("#MLMLoginId").addClass('errortext');
                    $("#MLMLoginId").addClass('errortext');
                    $("#mlmname").html("");
                    alert("Invalid MLM Id");

                }
            }

        });
    }
    function validateform() {
        debugger
        $("#divload").css({ 'display': '' });

        $(".errortext").removeClass("errortext");

        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#AssociateID').val() == '') {
            $("#AssociateID").addClass('errortext');
            $('#AssociateID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#VisiteDate').val() == '') {
            $("#VisiteDate").addClass('errortext');
            $('#VisiteDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#CustomerName').val() == '') {
            $("#CustomerName").addClass('errortext');
            $('#CustomerName').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        $("#divload").css({ 'display': '' });

        return true;
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }

    .successtext {
        border: 1px solid red !important;
        background-color: #808080 !important;
    }
</style>
<script>

    $('#VisitDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        maxDate: 31,
        changeYear: true,
        changeMonth: true
    });


</script>

