@model OmPrabha.Models.Master

@{
    ViewBag.Title = "PlanMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("PlanMaster", "Master", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Plan Master</li>
        </ul>
    </section>

    @*<div class="card-header">
            <h4>News Master</h4>
        </div>*@

    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Plan Master</h4>

                    <p style="color: red">
                        @TempData["PlanMaster"]
                    </p>
                </div>

                <div class="card-body">
                    <div class="row " id="divsave">
                        <div class="input-field col m6 s12">

                            Plan Name<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control", @Placeholder = "Plan Name" })

                        </div>
                        <div class="input-field col m12 s12">
                            Plan Month<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.PlanMonth, new { @class = "form-control", @Placeholder = "Plan Month" })

                        </div>
                        <div class="input-field col m12 s12">
                            Alotment Amount<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.AlotmentAmount, new { @class = "form-control", @Placeholder = "Alotment Amount", @onkeypress = "return isNumberOrDecimal(event);" })

                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="input-field col s12">
                            @if (Model.PK_PlanId == null)
                {
                                <input class="btn cyan waves-effect waves-light left btn-primary" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                            }
                            else
                            {
                                <input type="hidden" id="PK_PlanId" name="PK_PlanId" value="@Model.PK_PlanId" />
                                <input class="btn cyan waves-effect waves-light left btn-primary" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                            }
                            <a class="btn btn-info" href="/Master/PlanMasterList">Back To List</a>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </div>

}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin' && UserTypeName != "") {
            GetMenuDetails();
        }

    });
    function GetMenuDetails() {
        debugger
        var URL = "/Master/NewsMaster";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                //console.log(obj)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormSave == true) {
                        $('#btnSave').show();

                        $("#btnSave").removeAttr('disabled');
                    }
                    else {
                        $('#btnSave').hide();

                        $("#btnSave").attr('disabled', 'disabled');
                    }
                    if (obj[i].FormUpdate == true && $('#NewsID').val() != "") {
                        $('#btnUpdate').show();

                        $("#btnUpdate").removeAttr('disabled');
                    }
                    else {
                        $('#btnUpdate').hide();

                        $("#btnUpdate").attr('disabled', 'disabled');
                    }
                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");

        if ($('#PlanName').val() == '') {
            $("#PlanName").addClass('errortext');
            $('#PlanName').focus();
            return false;
        }
        if ($('#PlanMonth').val() == '') {
            $("#PlanMonth").addClass('errortext');
            $('#PlanMonth').focus();
            return false;
        }
        if ($('#AlotmentAmount').val() == '') {
            $("#AlotmentAmount").addClass('errortext');
            $('#AlotmentAmount').focus();
            return false;
        }


        
        return true;
    }




    

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
